[Unit]
Description=Auto uploader service
Documentation=https://github.com/OliverHi/autouploader
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=idle
User=scanner
WorkingDirectory=/opt/autouploader/
ExecStart=/bin/sh /opt/autouploader/autoupload.sh
Restart=always
RestartSec=3
StandardOutput=null
StandardError=journal

[Install]
WantedBy=multi-user.target